In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20130101', periods=6)

In [12]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-01  0.606896 -1.342532  0.288084  0.639560
2013-01-02 -0.732016 -0.518094 -0.497430  2.374657
2013-01-03  2.044403 -0.760654  0.244578 -0.615778
2013-01-04  1.370891 -1.629227  0.603791  0.902668
2013-01-05 -0.354327  0.861735 -0.981251  1.285316
2013-01-06  1.302028  0.497262  0.128027 -0.343156

In [15]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

In [16]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2013-01-01  0.606896 -1.342532  0.288084  0.639560
2013-01-02 -0.732016 -0.518094 -0.497430  2.374657
2013-01-03  2.044403 -0.760654  0.244578 -0.615778
2013-01-04  1.370891 -1.629227  0.603791  0.902668
2013-01-05 -0.354327  0.861735 -0.981251  1.285316

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.370891 -1.629227  0.603791  0.902668
2013-01-05 -0.354327  0.861735 -0.981251  1.285316
2013-01-06  1.302028  0.497262  0.128027 -0.343156

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.values

array([[ 0.6068964 , -1.34253228,  0.2880843 ,  0.63955962],
       [-0.7320165 , -0.518094  , -0.49743013,  2.37465707],
       [ 2.04440315, -0.76065362,  0.24457807, -0.61577833],
       [ 1.3708914 , -1.62922673,  0.60379093,  0.90266807],
       [-0.35432695,  0.86173467, -0.98125098,  1.2853163 ],
       [ 1.30202805,  0.49726153,  0.12802658, -0.34315644]])

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.706313 -0.481918 -0.035700  0.707211
std    1.076165  0.989967  0.587607  1.096443
min   -0.732016 -1.629227 -0.981251 -0.615778
25%   -0.114021 -1.197063 -0.341066 -0.097477
50%    0.954462 -0.639374  0.186302  0.771114
75%    1.353676  0.243423  0.277208  1.189654
max    2.044403  0.861735  0.603791  2.374657

In [23]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.606896   -0.732016    2.044403    1.370891   -0.354327    1.302028
B   -1.342532   -0.518094   -0.760654   -1.629227    0.861735    0.497262
C    0.288084   -0.497430    0.244578    0.603791   -0.981251    0.128027
D    0.639560    2.374657   -0.615778    0.902668    1.285316   -0.343156

In [24]:
df

                   A         B         C         D
2013-01-01  0.606896 -1.342532  0.288084  0.639560
2013-01-02 -0.732016 -0.518094 -0.497430  2.374657
2013-01-03  2.044403 -0.760654  0.244578 -0.615778
2013-01-04  1.370891 -1.629227  0.603791  0.902668
2013-01-05 -0.354327  0.861735 -0.981251  1.285316
2013-01-06  1.302028  0.497262  0.128027 -0.343156

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.639560  0.288084 -1.342532  0.606896
2013-01-02  2.374657 -0.497430 -0.518094 -0.732016
2013-01-03 -0.615778  0.244578 -0.760654  2.044403
2013-01-04  0.902668  0.603791 -1.629227  1.370891
2013-01-05  1.285316 -0.981251  0.861735 -0.354327
2013-01-06 -0.343156  0.128027  0.497262  1.302028

In [26]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04  1.370891 -1.629227  0.603791  0.902668
2013-01-01  0.606896 -1.342532  0.288084  0.639560
2013-01-03  2.044403 -0.760654  0.244578 -0.615778
2013-01-02 -0.732016 -0.518094 -0.497430  2.374657
2013-01-06  1.302028  0.497262  0.128027 -0.343156
2013-01-05 -0.354327  0.861735 -0.981251  1.285316

In [27]:
df['A']

2013-01-01    0.606896
2013-01-02   -0.732016
2013-01-03    2.044403
2013-01-04    1.370891
2013-01-05   -0.354327
2013-01-06    1.302028
Freq: D, Name: A, dtype: float64

In [28]:
df[0:3]

                   A         B         C         D
2013-01-01  0.606896 -1.342532  0.288084  0.639560
2013-01-02 -0.732016 -0.518094 -0.497430  2.374657
2013-01-03  2.044403 -0.760654  0.244578 -0.615778

In [29]:
df.loc[:, ['A','B']]

                   A         B
2013-01-01  0.606896 -1.342532
2013-01-02 -0.732016 -0.518094
2013-01-03  2.044403 -0.760654
2013-01-04  1.370891 -1.629227
2013-01-05 -0.354327  0.861735
2013-01-06  1.302028  0.497262

In [30]:
df.iloc[3]

A    1.370891
B   -1.629227
C    0.603791
D    0.902668
Name: 2013-01-04 00:00:00, dtype: float64

In [31]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.370891 -1.629227
2013-01-05 -0.354327  0.861735

In [32]:
 df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.732016 -0.497430
2013-01-03  2.044403  0.244578
2013-01-05 -0.354327 -0.981251

In [33]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.606896 -1.342532  0.288084  0.639560
2013-01-03  2.044403 -0.760654  0.244578 -0.615778
2013-01-04  1.370891 -1.629227  0.603791  0.902668
2013-01-06  1.302028  0.497262  0.128027 -0.343156

In [34]:
df.mean()

A    0.706313
B   -0.481918
C   -0.035700
D    0.707211
dtype: float64

In [35]:
df.mean(1)

2013-01-01    0.048002
2013-01-02    0.156779
2013-01-03    0.228137
2013-01-04    0.312031
2013-01-05    0.202868
2013-01-06    0.396040
Freq: D, dtype: float64